h6{
  margin-top: 3px;
}
#flags{
  width: 100%;
  max-height: 300px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  
}

#flags img{
  max-width: 100%;
}
p{
  margin-top: 10px;
}
span{
  color: rgb(85, 77, 77)
}