select{
    height: 50px;
    width: 200px;
    box-shadow: 1px 1px 1px 1px rgba(216, 208, 208, 0.219);
    border: none;
    outline:none;
    margin-top: 30px;
    padding: 10px;
    border-radius: 3px;
  }